<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My Site</title>
</head>
<body>
	<h1>
		{% block page_title %}
			Welcome to
		{% endblock %}
	</h1>
	{% block content %}{% endblock %}
</body>
</html>